
<div class="container" style="margin-top: 150px;">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">

            <table class="table table-style">
                <tr>
                        <th>
                               <h2>
                                    Search Here....

                               </h2> 
                            </th>
                </tr>
                <tr>
                   
                    <td>
                        <form action="">
                                <input type="text" placeholder="Search Media, Tags, and Users...." name="searchBox" class="form-control">
                                <br>
                                     <input type="submit" name="search" value="Search" class="btn btn-success">
                        </form>
                      
                    </td>
                </tr>
            </table>

        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
        
