
<div class="container-fluid" style="margin-top: 70px;">
    <div class="row">
        <div class="col-lg-4" style="text-align: center">
              
                        <h1>Account</h1>
                        <hr/> 
                        <img id="avtar" src="./assets/images/userprofile.png" alt="Avtar" height="150px" width="150px" style="margin-bottom: 40px; margin-top: 10px;"/><br/>     
                        <button id="loginBtn" class="btn btn-primary" routerLink="/s/login" >Login</button>
                        <br>
                        <br>
                        <button id="registerBtn" class=" btn btn-primary" routerLink="/s/register">Register</button>
                        
        </div>
        <div class="col-lg-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
   