<div class="container-fluid">
    <div class="wrap">
        <div id='left' class="card" style="width:35%; height:600px; padding:10px;margin-left:35px;margin-top:35px">
            <div style="padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;border:0;height:100%;width:100%"><img src="./Assets/avtar.svg" class="card-img-top" alt="image" height="100%">
            </div>
            <div style="height:100%;width:100%; text-align:right; margin-top: -10px;">
                <i class="material-icons" style=" margin-top:-45px; margin-right:1%">favorite</i>
                <i class="material-icons" style="margin-top:-45px; margin-right:5%">favorite_border</i>
            </div>
        </div>
        <div class="right" style=" margin-left:39px; width:30%; margin-top:40px; background-color: black; height:2.5px">
        </div>
        <div class="right" style="width:30%;margin-left:40px;  ">
            <nav class="nav nav-pills flex-column flex-sm-row"   >
                <a class="flex-sm-fill text-sm-left nav-link" href="#" style=" font-weight:500; border:2px solid black;   font-size:15px">Sepia</a>
                <a class="flex-sm-fill text-sm-left nav-link" href="#" style=" font-weight:500; border:2px solid black;  margin-left:1px; font-size:15px">Grey</a>
                <a class="flex-sm-fill text-sm-left nav-link" href="#" style=" font-weight:500; border:2px solid black;  margin-left:1px; font-size:15px">Brightness</a>
                <a class="flex-sm-fill text-sm-left nav-link" href="#" style=" font-weight:500; border:2px solid black;  margin-left:1px; font-size:15px">Contrast</a>
            </nav>
        </div>
        <div class="right" style=" margin-left:39px; width:30%; background-color: black; height:2.5px">
        </div>
        <div class="right" style=" margin-left:50px; width:40%;margin-top:35px;">
            <hr>
            <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
            <hr>
            <hr>
            <blockquote class="blockquote">
                <footer class="blockquote-footer">TAGS: <cite title="Source Title">#freak_o_me</cite></footer>
            </blockquote>
            <hr>
        </div>
        <div class="right" style=" width:50%;font-family:Arial; text-align:left; margin-left:50px" >
            <i class="material-icons" >favorite</i> 
            <cite style="margin-left:5px">5</cite>
            <i class="material-icons" style="margin-left:7px">forum</i>
            <cite style="margin-left:5px">3</cite>
        </div>
        <div class="right" style=" width:50%;font-family:Arial; text-align:left; " >
            <div class="box3 sb14" style="width:50%;font-family:Arial; text-align:left;">Awesome Click</div>
            <div class="box3 sb13" style="width:50%;; font-family:Arial; text-align:left;">Beauty of South</div>
            <div class="box3 sb14" style="width:50%;font-family:Arial; text-align:left;">I love India</div>
            <div class="box3 sb13" style="width:50%;font-family:Arial; text-align:left;">Thankyou...</div>
        </div>
    </div>
</div>
