
        <div class="card" style="margin-top: 70px;">
            <div class="card-body">
                    <table class="table table-style">
                        <tr>
                            <th>
                                Today
                            </th>
                            <td>
                                11:00
                            </td>
                            <td style="padding: unset;">
                                <table>
                                    <tr>
                                        <td>
                                            You shared the "Facebook" user media image with title "Full Stackathon".
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            You liked the "google" user media video with the title "Google I/O 2019".
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            You commented "future is awesome" on "android" users media image with the title "Android 9-Pie".
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
            
                        <tr>
                            <th>
                                11-Oct-18
                            </th>
                            <td>
                                14:00
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td style="padding: unset;">
                                            You shared the "Facebook" user media image with title "Full Stackathon".
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                                    
                        <tr>
                            <th>
                                30-Oct-18
                            </th>
                            <td>
                                08:00
                            </td>
                            <td style="padding: unset;">
                                <table>
                                    <tr>
                                        <td>
                                            You shared the "Facebook" user media image with title "Full Stackathon". 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            You liked the "google" user media video with the title "Google I/O 2019".
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            You commented "future is awesome" on "android" users media image with the title "Android 9-Pie".
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
